

.site-footer {
    background-color: #faf8f8;
    color: #0636f6;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-section {
   
    flex: 1;
   width:80%;
    margin-bottom: 20px;

}

.footer-section h3 {
    margin-top: 0;
    font-size: 1.2em;
}
.footer-section h4 {
    margin-top: 0;
    font-size: 1.2em;
    text-align: left;
}


.footer-section p {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 50%;
}

.footer-section a {
    color: #0cfe28;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
}

/* Media Queries for responsiveness */
@media (max-width: 725px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section p{
        text-align: justify;
    }
    .footer-section h3{
       
        text-align: right;
    }
    .footer-section{
        justify-content: center; 
    }
}
