
@media (min-width:725px){
    .footer-container {
        margin-left: 25%;
        width:50%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    }
    
    .contact-info, .quick-links {
    width: 30%;
    }
    
    
    .quick-links ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    }
    
    .quick-links ul li {
    margin: 5px 0;
    }
    
    .quick-links ul li a {
    text-decoration: none;
    color: #000;
    }
    
    .quick-links ul li a:hover {
    text-decoration: underline;
    }
    
    .copyright {
    text-align: center;
    padding: 10px;
    background-color: #e0e0e0;
    width: 100%;
    }}

    @media (min-width:325px) and (max-width:725px){
        .footer-container {
            width:50%;
display: flex;
text-align: center;
justify-content: space-between;
padding: 20px;
}

.contact-info, .quick-links {
width: 100%;
}


.quick-links ul {
text-align: center;
list-style-type: none;
padding: 0;
}

.quick-links ul li {
margin: 5px 0;
}

.quick-links ul li a {
text-decoration: none;
color: #000;
}

.quick-links ul li a:hover {
text-decoration: underline;
}

.copyright {
text-align: center;
padding: 10px;
background-color: #e0e0e0;
width: 100%;
}
    }

@media (max-width:325px){
    .footer-container {
        width:50%;
display: flex;
text-align: center;
justify-content: space-between;
padding: 20px;
}

.contact-info, .quick-links {
width: 100%;
}


.quick-links ul {
text-align: center;
list-style-type: none;
padding: 0;
}

.quick-links ul li {
margin: 5px 0;
}

.quick-links ul li a {
text-decoration: none;
color: #000;
}

.quick-links ul li a:hover {
text-decoration: underline;
}

.copyright {
text-align: center;
padding: 10px;
background-color: #e0e0e0;
width: 100%;
}

}