*{ 
    padding:0;
    padding-right:.4% ;
    padding-left: .03%;
    margin: 0;
text-decoration: none; 
font-family: monospace;
list-style: none;
max-width:100vw;}
body{  margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
    height:auto;
    overflow-x: hidden;
}




.underwater {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    animation: rise 10s infinite ease-in-out;
}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

    @media (min-width:925px){
      .note{margin: 0;
    font-size: 1.5em;
    color: orange;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
      text-align: center;
   display: flex;
      justify-content: center;
    align-items: center;
     }
.notes{margin: 0;
    font-size: 1.2em;
     color: orange;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
      text-align: center;
   display: flex;
      justify-content: center;
    align-items: center;
}
.banner {
    background-color: red;
    height: 100px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .booking-banner {
    margin: 0;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
}

        .contactus{
            position: flex;
            float: right;
            margin-right: 2%;
            border: 3px;
            border-radius: 50%;
            width: 5%;
            height:auto;
            background-size: 100%;
            box-shadow: 2px 5px 5px black;
        }.contactus:hover{
            opacity: 0.5;
        }
        header {
            width: 100%;
            height: 50vw;
            background-image: url('header.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            box-shadow: 2px 5px 5px #000;
            border-radius: 1%;
        animation: float 10s infinite ease-in-out;
            }
            @keyframes float {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-10px);
                }
                100% {
                    transform: translateY(0);
                }
            }
        
.my-logo{margin-top:3%;
    margin-left: 3%;
    position:relative;
    border: 20px;
    border-radius: 100%;
    width: 9%;
    height:auto;
    background-image: url(logo.jpg);
    background-size: 100%;
    box-shadow: 2px 5px 5px #000;
 }   
 .site-title {
    margin: 5% 1%;
    position: absolute;
    width:60%;
    font-size: 4vw;
  color: Black;
    padding: 1px 1px;
 text-shadow: 2px 5px 5px #fff;
 font-family: raleway;
 cursor:pointer;
 font-weight: bold;
}


.site-title:hover {
    color: white;
    text-shadow: 2px 5px 5px black;
     /* Change color on hover */
}


.padi{
    float: right;
  margin: 4% 3%;
    position: relative;
    border: 3px;
    border-radius: 100%;
    width: 7%;
    height:auto;
    background-size: 100%;
    box-shadow: 2px 5px 5px black;
 } 
 .cmas{
   float: right;
    margin:4% 1%;
    position: relative;
    border: 3px;
    border-radius: 100%;
    width: 7%;
    height:auto;
    background-size: 100%;
    box-shadow: 2px 5px 5px black;
}

.wrappers{
    display: inline-block;
    width:100%;
}
.wrappers  nav{box-shadow: 2px 5px 5px #000;
  align-content: center;
    width: fit-content;
    font-family: 'Roboto', sans-serif;
   float: right;
    height: 50px;   
    margin-top: -24%;
    color: rgb(6, 6, 143);
    text-shadow: 2px 5px 5px black;
    background-color:rgba(0, 251, 255, 0.777);
     }
.wrappers nav ul{    list-style-type: none;
    float: right;
    display: flex;
    }

.wrappers nav ul li{
  position: relative;
float: right;
line-height:80px;
width: 200px;
line-height: 10px;
text-align: center;
border-left:1px solid #fff ;
cursor: pointer;
transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}
.wrappers nav ul li a{   font-size: 1.3em; 
position: relative;
text-transform: uppercase;
padding: 10px 10px;
font-weight: bold;
display: block;
cursor: pointer;
color: rgb(6, 6, 143);
text-shadow: 2px 5px 5px black;

}
.wrappers nav ul li:hover{
    opacity: #fff;
}
.wrappers nav ul li a:hover{
    color:#fff;
}
.wrappers nav ul ul{
    display: none;
    height: auto;
    text-align: center;
    position:absolute;
    margin-top:5%;  
    width:auto;
    color: rgb(6, 6, 143);
text-shadow: 2px 5px 5px black;
background-color:rgba(0, 251, 255, 0.777);

}
.wrappers nav ul ul li{
    height: 50px;
    line-height: 20px;
  
}

.wrappers nav ul li:hover > ul{
    display: block;
    
}     
    #toggle{
        display: none;
    }
    .checkbtn{
        display: none;
    }
    h1{
        margin-top:15%;
        text-align: center;
        position:relative;
        margin-left: 10vw;
        margin-right: 10vw;
            width:80vw;
            font-size: 5vw;
            color: black;
         text-shadow: 2px 5px 5px black;
         font-weight: bold;

    font-family: Playfair Display;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .09 em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
}
    }
    
    @media (min-width:725px) and (max-width:925px){
        .note{margin: 0;
    font-size: 1.3em;
    color: orange;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
      text-align: center;
   display: flex;
      justify-content: center;
    align-items: center;
     }
.notes{margin: 0;
    font-size: 1em;
     color: orange;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
      text-align: center;
   display: flex;
      justify-content: center;
    align-items: center;
}
.banner {
    background-color: red;
    height: 90px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .booking-banner {
    margin: 0;
    font-size: 2.3em;
    color: white;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
}

        .contactus{
            margin-top:10%;
            position: flex;
            float: right;
            margin-right: 2%;
            border: 3px;
            border-radius: 50%;
            width: 5%;
            height:auto;
            background-size: 100%;
            box-shadow: 2px 5px 5px black;
        }.contactus:hover{
            opacity: 0.5;
        }
        header {
            width: 100%;
            height: 70vw;
            background-image: url('header.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            box-shadow: 2px 5px 5px #000;
            border-radius: 1%;
        animation: float 10s infinite ease-in-out;
            }
            @keyframes float {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-10px);
                }
                100% {
                    transform: translateY(0);
                }
            }
        
.my-logo{margin-top:3%;
    margin-left: 3%;
    position:relative;
    border: 20px;
    border-radius: 100%;
    width: 9%;
    height:auto;
    background-image: url(logo.jpg);
    background-size: 100%;
    box-shadow: 2px 5px 5px #000;
 }   
 .site-title {
    margin: 2% 1%;
    position: absolute;
    width:50%;
    font-size: 5vw;
  color: Black;
    padding: 1px 1px;
 text-shadow: 2px 5px 5px #fff;
 font-family: raleway;
 cursor:pointer;
 font-weight: bold;
}
.site-title:hover {
    color: white;
    text-shadow: 2px 5px 5px black;
     /* Change color on hover */
}


.padi{
    float: right;
  margin: 4% 3%;
    position: relative;
    border: 3px;
    border-radius: 100%;
    width: 7%;
    height:auto;
    background-size: 100%;
    box-shadow: 2px 5px 5px black;
 } 
 .cmas{
   float: right;
    margin:4% 1%;
    position: relative;
    border: 3px;
    border-radius: 100%;
    width: 7%;
    height:auto;
    background-size: 100%;
    box-shadow: 2px 5px 5px black;
}

.wrappers{
    
    display: inline-block;
    width:100%;
}
.wrappers  nav{box-shadow: 2px 5px 5px #000;
   float: right;
  align-content: center;
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    height: 50px;   
    margin-top: -25%;
    color: rgb(6, 6, 143);
    text-shadow: 2px 5px 5px black;
    background-color:rgba(0, 251, 255, 0.777);
     }
.wrappers nav ul{    list-style-type: none;
    float: right;
    display: flex;
    }

.wrappers nav ul li{
  position: relative;
float: right;
line-height:80px;
width: 200px;
line-height: 10px;
text-align: center;
border-left:1px solid #fff ;
cursor: pointer;
transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}
.wrappers nav ul li a{   font-size: 1.3em; 
position: relative;
text-transform: uppercase;
padding: 10px 10px;
font-weight: bold;
display: block;
cursor: pointer;
color: rgb(6, 6, 143);
text-shadow: 2px 5px 5px black;

}
.wrappers nav ul li:hover{
    opacity: #fff;
}
.wrappers nav ul li a:hover{
    color:#fff;
}
.wrappers nav ul ul{
    display: none;
    height: auto;
    text-align: center;
    position:absolute;
    margin-top:5%;  
    width:auto;
    color: rgb(6, 6, 143);
text-shadow: 2px 5px 5px black;
background-color:rgba(0, 251, 255, 0.777);

}
.wrappers nav ul ul li{
    height: 50px;
    line-height: 20px;
  
}

.wrappers nav ul li:hover > ul{
    display: block;
    
}     
    #toggle{
        display: none;
    }
    .checkbtn{
        display: none;
    }
    h1{
        margin-top:20%;
        text-align: center;
        position:relative;
        margin-left: 10vw;
        margin-right: 10vw;
            width:80vw;
            font-size: 4vw;
            color: white;
         text-shadow: 2px 5px 5px black;
         font-weight: bold;

         font-family: Playfair Display;
         overflow: hidden; /* Ensures the content is not revealed until the animation */
         border-right: .15em transparent; /* The typwriter cursor */
         white-space: nowrap; /* Keeps the content on a single line */
         letter-spacing: .09 em; /* Adjust as needed */
         animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
     }
     
     /* The typing effect */
     @keyframes typing {
         from { width: 0 }
         to { width: 100% }
     }
     
     /* The typewriter cursor effect */
     @keyframes blink-caret {
         from, to { border-color: transparent }
         50% { border-color:transparent; }
     }
    }
    @media (max-width:725px){
       .note{margin: 0;
    font-size: 1em;
    color: orange;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
      text-align: center;
   display: flex;
      justify-content: center;
    align-items: center;
     }
.notes{margin: 0;
    font-size: .8em;
     color: orange;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
      text-align: center;
   display: flex;
      justify-content: center;
    align-items: center;
}
.banner {
    background-color: red;
    height: 70px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .booking-banner {
    margin: 0;
    font-size: 2em;
    color: white;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
}

        .contactus{
            margin-top: 45%;
            position: flex;
            margin-left: 80%;
            border: 3px;
            border-radius: 50%;
            width: 13%;
            height:auto;
            background-size: 100%;
            box-shadow: 2px 5px 5px black;
        }.contactus:hover{
            opacity: 0.5;
        }
        header {
            width: 100%;
            height: 80vw;
            background-image: url('header.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            box-shadow: 2px 5px 5px #000;
            border-radius: 1%;
        animation: float 10s infinite ease-in-out;
            }
            @keyframes float {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-10px);
                }
                100% {
                    transform: translateY(0);
                }
            }

.my-logo{margin-top:3%;
    margin-left: 3%;
    position:relative;
    border: 20px;
    border-radius: 100%;
    width: 10%;
    height:auto;
    background-image: url(logo.jpg);
    background-size: 100%;
    box-shadow: 2px 5px 5px #000;
 }   
 .site-title {
    margin: 2% 1%;
    position: absolute;
    width:50%;
    font-size: 5vw;
  color: Black;
    padding: 1px 1px;
 text-shadow: 2px 5px 5px #fff;
 font-family: raleway;
 cursor:pointer;
 font-weight: bold;
}
.site-title:hover {
    color: white;
    text-shadow: 2px 5px 5px black;
     /* Change color on hover */
}


.padi{
  margin: 5% 3%;
  float: right;
    position: relative;
    border: 3px;
    border-radius: 100%;
    width: 7%;
    height:auto;
    background-size: 100%;
    box-shadow: 2px 5px 5px black;
 } 
 .cmas{
   float: right;
    margin:5% 1%;
    position: relative;
    border: 3px;
    border-radius: 100%;
    width: 7%;
    height:auto;
    background-size: 100%;
    box-shadow: 2px 5px 5px black;
}

.wrappers {
    position:absolute;
    margin-top: 7%;
    margin-left: 2%;
}
.wrappers div{
    display: block;
    position: relative;
    
}

.checkbtn{
    font-size: 2.3em;
    height: 3px;
    line-height: 3px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}
.wrapper div label:hover{
    background-color: white;
}
input[type=checkbox]{
    display: none;
}
.wrappers nav{
    position: absolute;
    top:10px;
    width: 0;
      height: 50vh;   
      transition: .5s ease;
      overflow: hidden;
       }
       .checkbtn{
    margin-top: 10px;
}
input[type=checkbox]:checked~nav{
    width:200px;
}
.wrappers nav ul li {
    margin-top: 1%;
}
.wrappers nav ul li a{  
   display: flex;
    padding: 1px;
    border: none;
    background: none;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px;
    height: 20px;
    width:100px;
    margin: 0;
    margin-left: 10%;
    font-weight: bold;
    cursor: pointer;
    color: rgb(6, 6, 143);
    text-shadow: 2px 5px 5px black;
    background-color:rgba(0, 251, 255, 0.777);
    }
  .wrappers nav ul li a:hover{
      color:#fff;
  }
  .wrappers nav ul ul{
    display: none;
    height: auto;
    background:none;
    position:absolute;
    padding: 1px;
}
.wrappers nav ul ul li{
    height: auto;
    line-height: 10px;
}
.wrappers nav ul li:hover > ul{
    display: block;   
}   
h1{
    margin-top:20%;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
        width:80vw;
        font-size: 4vw;
        color: white;
        text-shadow: 2px 5px 5px black;
        font-weight: bold;
position: absolute;

font-family: Playfair Display;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em transparent; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
letter-spacing: .09em; /* Adjust as needed */
animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color:transparent; }
}

}
    @media (max-width:325px){
        .note{margin: 0;
    font-size: 1em;
    color: orange;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
      text-align: center;

      justify-content: center;
    align-items: center;
     }
.notes{margin: 0;
    font-size: .6em;
     color: orange;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
      text-align: center;
   
      justify-content: center;
    align-items: center;
}
.banner {
    background-color: red;
    height: 50px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .booking-banner {
    margin: 0;
    font-size: .7em;
    color: white;
    text-shadow: 2px 5px 5px black;
    font-weight: bold;
}

        body{  margin: 0;
            margin-left: 1.5%;
            padding: 0;
            width: 100%;
            height:auto;
            overflow-x: hidden;
        }
        .contactus{
            margin-top: 3%;
            position: flex;
            margin-left: 80%;
            border: 3px;
            border-radius: 50%;
            width: 10%;
            height:auto;
            background-size: 100%;
            box-shadow: 2px 5px 5px black;
        }.contactus:hover{
            opacity: 0.5;
        }
        header {
            width: 100%;
            height: 80vw;
            background-image: url('header.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            box-shadow: 2px 5px 5px #000;
            border-radius: 1%;
        animation: float 10s infinite ease-in-out;
            }
            @keyframes float {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-10px);
                }
                100% {
                    transform: translateY(0);
                }
            }

.my-logo{margin-top:3%;
    margin-left: 3%;
    position:relative;
    border: 20px;
    border-radius: 100%;
    width: 10%;
    height:auto;
    background-image: url(logo.jpg);
    background-size: 100%;
    box-shadow: 2px 5px 5px #000;
 }   
 .site-title {
    margin: 2% 1%;
    position: absolute;
    width:50%;
    font-size: 5vw;
  color: Black;
    padding: 1px 1px;
 text-shadow: 2px 5px 5px #fff;
 font-family: raleway;
 cursor:pointer;
 font-weight: bold;
}
.site-title:hover {
    color: white;
    text-shadow: 2px 5px 5px black;
     /* Change color on hover */
}


.padi{
  margin: 5% 3%;
  float: right;
    position: relative;
    border: 3px;
    border-radius: 100%;
    width: 7%;
    height:auto;
    background-size: 100%;
    box-shadow: 2px 5px 5px black;
 } 
 .cmas{
   float: right;
    margin:5% 1%;
    position: relative;
    border: 3px;
    border-radius: 100%;
    width: 7%;
    height:auto;
    background-size: 100%;
    box-shadow: 2px 5px 5px black;
}

.wrappers {
    position:absolute;
    margin-top: 7%;
    margin-left: 2%;
}
.wrappers div{
    display: block;
    position: relative;
    
}

.checkbtn{
    font-size: 2.3em;
    height: 3px;
    line-height: 3px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}
.wrapper div label:hover{
    background-color: white;
}

.wrappers nav{
    position: absolute;
    top:10px;
    width: 0;
      height: 50vh;   
      transition: .5s ease;
      overflow: hidden;
       }
       .checkbtn{
    margin-top: 10px;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked~nav{
    width:200px;
}
.wrappers nav ul li {
    margin-top: 1%;
}
.wrappers nav ul li a{  
   display: flex;
    padding: 1px;
    border: none;
    background: none;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px;
    height: 20px;
    width:100px;
    margin: 0;
    margin-left: 10%;
    font-weight: bold;
    cursor: pointer;
    color: rgb(6, 6, 143);
    text-shadow: 2px 5px 5px black;
    background-color:rgba(0, 251, 255, 0.777);
    }
  .wrappers nav ul li a:hover{
      color:#fff;
  }
  .wrappers nav ul ul{
    display: none;
    height: auto;
    background:none;
    position:absolute;
    padding: 1px;
}
.wrappers nav ul ul li{
    height: auto;
    line-height: 10px;
}
.wrappers nav ul li:hover > ul{
    display: block;   
}   
h1{
    margin-top:15%;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
        width:80vw;
        font-size: 4vw;
        color: white;
        text-shadow: 2px 5px 5px black;
        font-weight: bold;
position: absolute;

font-family: Playfair Display;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em transparent; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
letter-spacing: .09em; /* Adjust as needed */
animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: transparent; }
}

}
